@import 'variables.scss';

* {
    font-family: $main-font, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-shape {
    height: $shape-height_small;
    width: 100%;
    background: $light-blue;
    border-radius: 0 0 100px 100px;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    position: absolute;
    top: calc($shape-height_small - $logo1-height/2);
    padding-bottom: 5rem;

    .logos {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__logo-1 {
            background: white;
            width: $logo1-height;
            aspect-ratio: 1;
            overflow: hidden;
            border-radius: 50%;
            @include centerDiv;
            border: solid 3px $light-blue;
    
            img {
                width: 80%;
                height: 80%;
            }
        }

        &__logo-2 {
            width: 15rem;
            @include centerDiv;
            margin-top: 1rem;

            img {
                width: 100%;
            }
        }
    }

    .verification-container {
        @include centerDiv;
        flex-direction: column;
        background: $light-gray;
        border-radius: 20px;
        padding: 1rem 0;
        width: 90%;

        @media screen and (min-width: 768px) {
            width: 50%;
        }

        p {
            font-size: 0.85rem;
            font-weight: 400;
            color: $marine-blue;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 2rem;
        }

        input {
            width: 250px;
            border: solid 1px $dark-gray;
            border-radius: 100vh;
            padding: 0.5rem 1rem;
            margin-bottom: 2rem;
            
            &::placeholder {
                font-weight: 600;
                color: #d0d0d0;
            }
            &:focus {
                outline: solid 2px $light-blue;
                border: solid 1px transparent;
            }
        }

        &__submitBtn {
            width: 150px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            padding: 0.5rem 1rem;
            border-radius: 100vh;
            background: $light-blue;
            color: white;
        }
    }
}