@import 'variables.scss';

* {
    font-family: $main-font, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.bg-shape {
    height: $shape-height_big;
    width: 100%;
    background: $light-blue;
    border-radius: 0 0 100px 100px;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    position: absolute;
    top: calc($shape-height_big - $logo1-height/2);

    .logos {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__logo-1 {
            background: white;
            width: $logo1-height;
            aspect-ratio: 1;
            overflow: hidden;
            border-radius: 50%;
            @include centerDiv;
            border: solid 3px $light-blue;
    
            img {
                width: 80%;
                height: 80%;
            }
        }

        &__logo-2 {
            width: 15rem;
            @include centerDiv;
            margin-top: 1rem;

            img {
                width: 100%;
            }
        }

        h2 {
            font-size: 1rem;
            font-weight: 500;
            margin-top: 0.4rem;
        }
    }
    
    .actions {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            padding: 0.5rem 1rem;
            border-radius: 100vh;
        }

        &__first-connec {
            background: $light-blue;
            color: white;
        }

        &__connec {
            border: solid 1px $marine-blue;
            color: black;
        }
    }
}