@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-shape {
  height: 150px;
  width: 100vw;
  background: #82D0FB;
  border-radius: 0 0 100px 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  position: absolute;
  top: calc(150px - 4rem);
  padding-bottom: 5rem;
}
main .logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .logos__logo-1 {
  background: white;
  width: 8rem;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #82D0FB;
}
main .logos__logo-1 img {
  width: 80%;
  height: 80%;
}
main .logos__logo-2 {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
main .logos__logo-2 img {
  width: 100%;
}
main .logos h2 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.4rem;
}
main .login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 2.5rem;
}
main .login-input {
  position: relative;
}
main .login-input i {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translate(-50%, -50%);
  color: #A3A3A3;
}
main .login-input input[type=text] {
  width: 200px;
  border: solid 1px #A3A3A3;
  border-radius: 100vh;
  padding: 0.5rem 1rem 0.5rem 3rem;
}
main .login-input input[type=text]::placeholder {
  font-weight: 600;
  color: #d0d0d0;
}
main .login-input input[type=text]:focus {
  outline: solid 2px #82D0FB;
  border: solid 1px transparent;
}
main .login-input.login__email {
  margin-bottom: 1rem;
}
main .login-input.login__password {
  margin-bottom: 0.5rem;
}
main .login__forgotPassword {
  text-decoration: none;
  color: #82D0FB;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 2.5rem;
}
main .login__enterBtn {
  border: none;
  width: 150px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 100vh;
  background: #82D0FB;
  color: white;
  cursor: pointer;
}
main .login::after {
  content: "";
  width: 100px;
  height: 1px;
  background: #c4c4c4;
  position: absolute;
  bottom: 0rem;
}
main .otherWay {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .otherWay_btn {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem;
  border-radius: 100vh;
  border: solid 1px #2C3942;
  color: black;
}
main .otherWay__google {
  display: flex;
}
main .otherWay__google i {
  font-size: 1.4rem;
  margin-right: 0.8rem;
}
main .otherWay__createAccount {
  display: flex;
}
main .otherWay__createAccount img {
  width: 1.5rem;
  aspect-ratio: 1/1;
  margin-right: 0.6rem;
}
