@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-shape {
  height: 150px;
  width: 100%;
  background: #82D0FB;
  border-radius: 0 0 100px 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  position: absolute;
  top: calc(150px - 4rem);
  padding-bottom: 5rem;
}
main .logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .logos__logo-1 {
  background: white;
  width: 8rem;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #82D0FB;
}
main .logos__logo-1 img {
  width: 80%;
  height: 80%;
}
main .logos__logo-2 {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
main .logos__logo-2 img {
  width: 100%;
}
main .verification-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #F8F8F8;
  border-radius: 20px;
  padding: 1rem 0;
  width: 90%;
}
@media screen and (min-width: 768px) {
  main .verification-container {
    width: 50%;
  }
}
main .verification-container p {
  font-size: 0.85rem;
  font-weight: 400;
  color: #2C3942;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}
main .verification-container input {
  width: 250px;
  border: solid 1px #A3A3A3;
  border-radius: 100vh;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}
main .verification-container input::placeholder {
  font-weight: 600;
  color: #d0d0d0;
}
main .verification-container input:focus {
  outline: solid 2px #82D0FB;
  border: solid 1px transparent;
}
main .verification-container__submitBtn {
  width: 150px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 100vh;
  background: #82D0FB;
  color: white;
}
